<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.s3.board.notice.NoticeDAO">

	<select id="getList" parameterType="Pager"
		resultType="NoticeDTO">
		select * from
			(select rownum R, N.* from
				(select * from notice where
					<!-- 컬럼명을 #{kind}이걸로 받아올 수 없다 함,, 그래서 동적sql로 쓸거라 함 -->
					<choose>
						<when test="kind=='writer'"> writer</when>
						<when test="kind=='contents'">contents</when>
						<otherwise>title</otherwise>
					</choose>
				<!-- 연결 연산자 인덱스에 pk가 자동 저장 검색을 더 빠르게 하려고 num>0 -->
				like '%'||#{search}||'%' and num>0 order by num desc) N)
			where R
		between #{startRow} and #{lastRow}
	</select>

	<select id="getTotalCount" parameterType="Pager" resultType="long"><!-- java.lang.Long -->
		select count(num)from notice where
		<choose>
			<when test="kind=='writer'"> writer</when>
			<when test="kind=='contents'">contents</when>
			<otherwise>title</otherwise>
		</choose>
		like '%'||#{search}||'%' and num>0 order by num desc
	</select>


	<select id="getSelect" parameterType="BoardDTO"	resultType="NoticeDTO">
		select * from notice where num=#{num}
	</select>

	<update id="setHitUpdate" parameterType="BoardDTO">
		update notice set hit=#{hit} where num=#{num}
	</update>
	
	<insert id="setInsert" parameterType="BoardDTO">
		INSERT INTO NOTICE
		VALUES(NOTICE_SEQ.nextval, #{title}, #{contents},
		#{writer}, SYSDATE,
		0)
	</insert>

	<update id="setUpdate" parameterType="BoardDTO">
		update notice set
		title=#{title}, contents=#{contents} where num=#{num}
	</update>

	<delete id="setDelete" parameterType="BoardDTO">
		delete notice where
		num=#{num}
	</delete>



</mapper>